body {
    background-color: white;
    /* font-family: 'Roboto Mono', monospace; */
    font-weight: 300;
    font-size: 1.2rem;
}

h1 {
    color: #106090;
    font-weight: 600;
    font-family: 'Roboto Mono', monospace;
}